[submodule "extern/shaderc"]
	path = extern/shaderc
	url = https://github.com/google/shaderc
[submodule "extern/glslang"]
	path = extern/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "extern/SPIRV-Tools"]
	path = extern/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "extern/SPIRV-Headers"]
	path = extern/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
